<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>GsVehicleSelling</title>

    <style type="text/css">
        .rounded-circle {
            border-radius:100%!important;
        }
    </style>
    <!--animate.min.css-->
    <link href="/css/animate.min.css" rel="stylesheet"/>
    <!-- BOOTSTRAP STYLES-->
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <!-- FONTAWESOME STYLES-->
    <link href="/css/font-awesome.css" rel="stylesheet"/>
    <!--CUSTOM BASIC STYLES-->
    <link href="/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <!--dataTable CSS-->
    <link href="http://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>

</head>
<body>

<div id="wrapper">
    <nav class="navbar navbar-default navbar-cls-top navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">GsVehicle</a>
        </div>

        <div class="header-right">

            <div class="btn-group">
                <button  class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                    <span class="glyphicon glyphicon-user"></span>
                    我的
                    <span class="caret" >

                    </span>
                </button>
                <ul class="dropdown-menu">
                    <li><a th:href="@{'/user/orderlist/'+${session.userID}}"><span class="fa fa-table"></span> 我的订单</a></li>
                    <li><a th:href="@{'/user/info/'+${session.userID}}"><span class="fa fa-info-circle"></span> 我的信息</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a th:href="@{/logout}"><span class="fa fa-sign-out"></span> 退出登录</a></li>
                </ul>
            </div>

        </div>
    </nav>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <div class="user-img-div">
                        <div class="inner-text" style="text-align: center">
                            <br />
                            欢迎！用户：
                            <br />
                            <p th:text="${session.nickName}"/>
                            <br />
                        </div>
                    </div>

                </li>
                <li>
                    <a th:href="@{/user/home}" ><i class="fa fa-car "></i>车辆信息信息 </a>
                </li>
                <li>
                    <a th:href="@{/user/components}"><i class="fa fa-list-ul "></i>配件信息 </a>
                </li>
                <li class="active">
                    <a th:href="@{/user/vehicle}" style="background: #000000"><i class="fa fa-list-ul "></i>零部件图 </a>
                </li>
                <li >
                    <a th:href="@{'/user/orderlist/'+${session.userID}}" ><i class="fa fa-table"></i> 我的订单</a>
                </li>
                <li >
                    <a th:href="@{'/user/info/'+${session.userID}}" ><i class="fa fa-info-circle"></i> 我的信息</a>
                </li>

            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper" style="margin-top: 75px">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-head-line">零部件图</h1>
                </div>
            </div>
            <!-- /. ROW  -->
            <!--<div class="row">-->
            <div id="container">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#picture1" data-toggle="tab">图一</a>
                    </li>
                    <li class=""><a href="#picture2" data-toggle="tab">图二</a>
                    </li>
                    <li class=""><a href="#picture3" data-toggle="tab">图三</a>
                    </li>
                    <li class=""><a href="#picture4" data-toggle="tab">图四</a>
                    </li>
                </ul>
                <div class="tab-content" style="margin-top: 15px">
                    <div class="tab-pane fade in active" id="picture1">
                        <div class="panel-body">
                                <div class="col-md-2 col-md-offset-2 tooltip-options " style="height: 150px;">
                                    <a th:href="@{'/user/component/10'}">
                                        <img id="animateview1-1" data-toggle="tooltip" data-placement="top" title="<h4>前桥</h4>" class="img-responsive rounded-circle fadeInUp" style="width: 80%;height: 80%;margin-top: 30%;display:none" th:src="@{'/img/Components/前桥.jpg'}" alt="Cinque Terre">
                                    </a>
                                </div>
                                <div class="col-md-2 tooltip-options "  style="height: 150px">
                                    <a th:href="@{'/user/component/13'}">
                                        <img id="animateview1-2" data-toggle="tooltip" data-placement="top" title="<h4>雨刮器</h4>" class="img-responsive rounded-circle fadeInUp" style="width: 80%;height: 80%;display:none" th:src="@{'/img/Components/雨刮器.jpg'}" alt="Cinque Terre">
                                    </a>
                                </div>
                                <div class="col-md-2 tooltip-options "  style="height: 150px">
                                    <a th:href="@{'/user/component/8'}">
                                        <img id="animateview1-3" data-toggle="tooltip" data-placement="top" title="<h4>轮毂</h4>" class="img-responsive rounded-circle fadeInUp" style="width: 80%;height: 80%;display:none" th:src="@{'/img/Components/轮毂.jpg'}" alt="Cinque Terre">
                                    </a>
                                </div>
                                <div class="col-md-2 tooltip-options "  style="height: 150px">
                                    <a th:href="@{'/user/component/5'}">
                                        <img id="animateview1-4" data-toggle="tooltip" data-placement="top" title="<h4>储液器</h4>" class="img-responsive rounded-circle fadeInUp" style="width: 80%;height: 80%;margin-top: 30%;display:none" th:src="@{'/img/Components/储液器.jpg'}" alt="Cinque Terre">
                                    </a>
                                </div>
                                <div class="col-md-2 tooltip-options" style="height: 150px">
                                </div>
                                <div class="col-md-2" style="height: 300px;margin-top: 5%">
                                    <div class="col-md-12 tooltip-options" style="height: 150px">
                                        <a th:href="@{'/user/component/1'}">
                                            <img id="animateview1-5" data-toggle="tooltip" data-placement="top" title="<h4>发动机</h4>" class="img-responsive rounded-circle fadeInRight" style="width: 80%;height: 80%;margin-left: 50%;display:none" th:src="@{'/img/Components/发动机.jpg'}" alt="Cinque Terre">
                                        </a>
                                    </div>
                                    <div class="col-md-12 tooltip-options" style="height: 150px">
                                        <a th:href="@{'/user/component/7'}">
                                            <img id="animateview1-6" data-toggle="tooltip" data-placement="top" title="<h4>保险杠</h4>" class="img-responsive rounded-circle fadeInRight" style="width: 80%;height: 80%;margin-left: 50%;display:none" th:src="@{'/img/Components/保险杠.jpg'}" alt="Cinque Terre">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-8" style="height: 100%">
                                    <a class="">
                                        <img onclick="showpicture(this)" id="view1" class="center-block img-responsive rounded-circle" style="width: 80%;height: 80%;margin-right: 8%" th:src="@{'/img/Components/前侧.jpg'}" alt="Cinque Terre">
                                    </a>
                                </div>
                                <div class="col-md-2 tooltip-options" style="height: 150px;margin-top: 5%">
                                    <a th:href="@{'/user/component/4'}">
                                        <img id="animateview1-7" data-toggle="tooltip" data-placement="top" title="<h4>点火器</h4>" class="img-responsive rounded-circle fadeInLeft" style="width: 80%;height: 80%;transition:all 1s;display:none" th:src="@{'/img/Components/点火器.jpg'}" alt="Cinque Terre">
                                    </a>
                                </div>
                                <div class="col-md-2 tooltip-options" style="height: 150px">
                                    <a th:href="@{'/user/component/3'}">
                                        <img id="animateview1-8" data-toggle="tooltip" data-placement="top" title="<h4>电瓶</h4>" class="img-responsive rounded-circle fadeInLeft" style="width: 80%;height: 80%;display:none" th:src="@{'/img/Components/电瓶.jpg'}" alt="Cinque Terre">
                                    </a>
                                </div>
                                <div class="col-md-2 col-md-offset-2 tooltip-options" style="height: 150px">
                                    <a th:href="@{'/user/component/11'}">
                                        <img id="animateview1-9" data-toggle="tooltip" data-placement="top" title="<h4>前大灯</h4>" class="img-responsive rounded-circle fadeInDown" style="width: 80%;height: 80%;display:none" th:src="@{'/img/Components/前大灯.jpg'}" alt="Cinque Terre">
                                    </a>
                                </div>
                                <div class="col-md-2 tooltip-options" style="height: 150px">
                                    <a th:href="@{'/user/component/12'}">
                                        <img id="animateview1-10" data-toggle="tooltip" data-placement="top" title="<h4>雾灯</h4>" class="img-responsive rounded-circle fadeInDown" style="width: 80%;height: 80%;margin-top: 15%;display:none" th:src="@{'/img/Components/雾灯.jpg'}" alt="Cinque Terre">
                                    </a>
                                </div>
                                <div class="col-md-2 tooltip-options" style="height: 150px">
                                    <a th:href="@{'/user/component/2'}">
                                        <img id="animateview1-11" data-toggle="tooltip" data-placement="top" title="<h4>发电机</h4>" class="img-responsive rounded-circle fadeInDown" style="width: 80%;height: 80%;margin-top: 15%;display:none" th:src="@{'/img/Components/发电机.jpg'}" alt="Cinque Terre">
                                    </a>
                                </div>
                                <div class="col-md-2 tooltip-options" style="height: 150px">
                                    <a th:href="@{'/user/component/9'}">
                                        <img id="animateview1-12" data-toggle="tooltip" data-placement="top" title="<h4>分电器</h4>" class="img-responsive rounded-circle fadeInDown" style="width: 80%;height: 80%;display:none" th:src="@{'/img/Components/分电器.jpg'}" alt="Cinque Terre">
                                    </a>
                                </div>

                            </div>
                    </div>
                    <div class="tab-pane fade" id="picture2">
                        <div class="panel-body">
                            <div class="col-md-2 col-md-offset-3 tooltip-options " style="height: 150px;">
                                <a th:href="@{'/user/component/20'}">
                                    <img id="animateview2-13" data-toggle="tooltip" data-placement="top" title="<h4>悬架</h4>" class="img-responsive rounded-circle fadeInUp" style="width: 80%;height: 80%;margin-top: 10%;display:none" th:src="@{'/img/Components/悬架.jpg'}" alt="Cinque Terre">
                                </a>
                            </div>
                            <div class="col-md-2 col-md-offset-2 tooltip-options "  style="height: 150px">
                                <a th:href="@{'/user/component/15'}">
                                    <img id="animateview2-14" data-toggle="tooltip" data-placement="top" title="<h4>天窗</h4>" class="img-responsive rounded-circle fadeInUp" style="width: 80%;height: 80%;margin-top: 10%;display:none" th:src="@{'/img/Components/天窗.jpg'}" alt="Cinque Terre">
                                </a>
                            </div>
                            <div class="col-md-3 tooltip-options "  style="height: 150px">

                            </div>
                            <div class="col-md-2" style="height: 300px;margin-top: 5%">
                                <div class="col-md-12 tooltip-options" style="height: 75px">
                                </div>
                                <div class="col-md-12 tooltip-options" style="height: 150px">
                                    <a th:href="@{'/user/component/18'}">
                                        <img id="animateview2-17" data-toggle="tooltip" data-placement="top" title="<h4>夹层玻璃</h4>" class="img-responsive rounded-circle fadeInRight" style="width: 80%;height: 80%;margin-left: 50%;display:none" th:src="@{'/img/Components/夹层玻璃.jpg'}" alt="Cinque Terre">
                                    </a>
                                </div>
                                <div class="col-md-12 tooltip-options" style="height: 75px">
                                </div>
                            </div>
                            <div class="col-md-8" style="height: 100%">
                                <a class="">
                                    <img onclick="showpicture(this)" id="view2" class="center-block img-responsive rounded-circle" style="width: 80%;height: 80%" th:src="@{'/img/Components/后侧.jpg'}" alt="Cinque Terre">
                                </a>
                            </div>
                            <div class="col-md-1 tooltip-options" style="height: 75px">
                            </div>
                            <div class="col-md-2 tooltip-options" style="height: 150px;margin-top: 5%">
                                <a th:href="@{'/user/component/19'}">
                                    <img id="animateview2-19" data-toggle="tooltip" data-placement="top" title="<h4>尾灯</h4>" class="img-responsive rounded-circle fadeInLeft" style="width: 80%;height: 80%;display:none" th:src="@{'/img/Components/尾灯.jpg'}" alt="Cinque Terre">
                                </a>
                            </div>
                            <div class="col-md-1 tooltip-options" style="height: 75px">
                            </div>

                            <div class="col-md-offset-3 col-md-2 tooltip-options" style="height: 150px">
                                <a th:href="@{'/user/component/14'}">
                                    <img id="animateview2-22" data-toggle="tooltip" data-placement="top" title="<h4>传动轴</h4>" class="img-responsive rounded-circle fadeInDown" style="width: 80%;height: 80%;margin-top: 15%;display:none" th:src="@{'/img/Components/传动轴.jpg'}" alt="Cinque Terre">
                                </a>
                            </div>
                            <div class=" col-md-2 tooltip-options" style="height: 150px">
                                <a th:href="@{'/user/component/16'}">
                                    <img id="animateview2-23" data-toggle="tooltip" data-placement="top" title="<h4>减震器</h4>" class="img-responsive rounded-circle fadeInDown" style="width: 80%;height: 80%;margin-top: 15%;display:none" th:src="@{'/img/Components/减震器.jpg'}" alt="Cinque Terre">
                                </a>
                            </div>
                            <div class=" col-md-2 tooltip-options" style="height: 150px">
                                <a th:href="@{'/user/component/17'}">
                                    <img id="animateview2-24" data-toggle="tooltip" data-placement="top" title="<h4>驱动轴</h4>" class="img-responsive rounded-circle fadeInDown" style="width: 80%;height: 80%;margin-top: 15%;display:none" th:src="@{'/img/Components/驱动轴.jpg'}" alt="Cinque Terre">
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="picture3">
                        <div class="panel-body">
                            <div class="col-md-2 col-md-offset-3 tooltip-options " style="height: 150px;">
                                <a th:href="@{'/user/component/22'}">
                                    <img id="animateview3-13" data-toggle="tooltip" data-placement="top" title="<h4>方向盘</h4>" class="img-responsive rounded-circle fadeInUp" style="width: 80%;height: 80%;margin-top: 10%;display:none" th:src="@{'/img/Components/方向盘.jpg'}" alt="Cinque Terre">
                                </a>
                            </div>
                            <div class="col-md-2 col-md-offset-2 tooltip-options "  style="height: 150px">
                                <a th:href="@{'/user/component/23'}">
                                    <img id="animateview3-14" data-toggle="tooltip" data-placement="top" title="<h4>饰条</h4>" class="img-responsive rounded-circle fadeInUp" style="width: 80%;height: 80%;margin-top: 10%;display:none" th:src="@{'/img/Components/饰条.jpg'}" alt="Cinque Terre">
                                </a>
                            </div>
                            <div class="col-md-3 tooltip-options "  style="height: 150px">

                            </div>
                            <div class="col-md-2" style="height: 300px;margin-top: 5%">
                                <div class="col-md-12 tooltip-options" style="height: 75px">
                                </div>
                                <div class="col-md-12 tooltip-options" style="height: 150px">
                                    <a th:href="@{'/user/component/25'}">
                                        <img id="animateview3-17" data-toggle="tooltip" data-placement="top" title="<h4>安全气囊</h4>" class="img-responsive rounded-circle fadeInRight" style="width: 80%;height: 80%;margin-left: 50%;display:none" th:src="@{'/img/Components/安全气囊.jpg'}" alt="Cinque Terre">
                                    </a>
                                </div>
                                <div class="col-md-12 tooltip-options" style="height: 75px">
                                </div>
                            </div>
                            <div class="col-md-8" style="height: 100%">
                                <a class="">
                                    <img onclick="showpicture(this)" id="view3" class="center-block img-responsive rounded-circle" style="width: 80%;height: 80%" th:src="@{'/img/Components/内前.jpg'}" alt="Cinque Terre">
                                </a>
                            </div>
                            <div class="col-md-1 tooltip-options" style="height: 75px">
                            </div>
                            <div class="col-md-2 tooltip-options" style="height: 150px;margin-top: 5%">
                                <a th:href="@{'/user/component/26'}">
                                    <img id="animateview3-19" data-toggle="tooltip" data-placement="top" title="<h4>仪表盘</h4>" class="img-responsive rounded-circle fadeInLeft" style="width: 80%;height: 80%;display:none" th:src="@{'/img/Components/仪表盘.jpg'}" alt="Cinque Terre">
                                </a>
                            </div>
                            <div class="col-md-1 tooltip-options" style="height: 75px">
                            </div>

                            <div class="col-md-offset-3 col-md-2 tooltip-options" style="height: 150px">
                                <a th:href="@{'/user/component/24'}">
                                    <img id="animateview3-23" data-toggle="tooltip" data-placement="top" title="<h4>前排座椅</h4>" class="img-responsive rounded-circle fadeInDown" style="width: 80%;height: 80%;margin-top: 15%;display:none" th:src="@{'/img/Components/前排座椅.jpg'}" alt="Cinque Terre">
                                </a>

                            </div>
                            <div class=" col-md-offset-2 col-md-2 tooltip-options" style="height: 150px">
                                <a th:href="@{'/user/component/21'}">
                                    <img id="animateview3-22" data-toggle="tooltip" data-placement="top" title="<h4>音响系统</h4>" class="img-responsive rounded-circle fadeInDown" style="width: 80%;height: 80%;margin-top: 15%;display:none" th:src="@{'/img/Components/音响系统.jpg'}" alt="Cinque Terre">
                                </a>
                            </div>


                        </div>
                    </div>
                    <div class="tab-pane fade" id="picture4">
                        <div class="panel-body">
                            <div class="col-md-2 col-md-offset-3 tooltip-options " style="height: 150px;">
                                <a th:href="@{'/user/component/31'}">
                                    <img id="animateview4-13" data-toggle="tooltip" data-placement="top" title="<h4>门护板</h4>" class="img-responsive rounded-circle fadeInUp" style="width: 80%;height: 80%;margin-top: 10%;display:none" th:src="@{'/img/Components/门护板.jpg'}" alt="Cinque Terre">
                                </a>
                            </div>
                            <div class="col-md-2 col-md-offset-2 tooltip-options "  style="height: 150px">
                                <a th:href="@{'/user/component/32'}">
                                    <img id="animateview4-14" data-toggle="tooltip" data-placement="top" title="<h4>头枕</h4>" class="img-responsive rounded-circle fadeInUp" style="width: 80%;height: 80%;margin-top: 10%;display:none" th:src="@{'/img/Components/头枕.jpg'}" alt="Cinque Terre">
                                </a>
                            </div>
                            <div class="col-md-3 tooltip-options "  style="height: 150px">

                            </div>
                            <div class="col-md-2" style="height: 300px;margin-top: 5%">
                                <div class="col-md-12 tooltip-options" style="height: 75px">
                                </div>
                                <div class="col-md-12 tooltip-options" style="height: 150px">
                                    <a th:href="@{'/user/component/28'}">
                                        <img id="animateview4-17" data-toggle="tooltip" data-placement="top" title="<h4>后排办公桌板.jpg</h4>" class="img-responsive rounded-circle fadeInRight" style="width: 80%;height: 80%;margin-left: 50%;display:none" th:src="@{'/img/Components/后排办公桌版.jpg'}" alt="Cinque Terre">
                                    </a>
                                </div>
                                <div class="col-md-12 tooltip-options" style="height: 75px">
                                </div>
                            </div>
                            <div class="col-md-8" style="height: 100%">
                                <a class="">
                                    <img onclick="showpicture(this)" id="view4" class="center-block img-responsive rounded-circle" style="width: 800px;height: 420px" th:src="@{'/img/Components/内后.jpg'}" alt="Cinque Terre">
                                </a>
                            </div>
                            <div class="col-md-1 tooltip-options" style="height: 75px">
                            </div>
                            <div class="col-md-2 tooltip-options" style="height: 150px;margin-top: 5%">
                                <a th:href="@{'/user/component/30'}">
                                    <img id="animateview4-19" data-toggle="tooltip" data-placement="top" title="<h4>后排座椅</h4>" class="img-responsive rounded-circle fadeInLeft" style="width: 80%;height: 80%;display:none" th:src="@{'/img/Components/后排座椅.jpg'}" alt="Cinque Terre">
                                </a>
                            </div>
                            <div class="col-md-1 tooltip-options" style="height: 75px">
                            </div>

                            <div class="col-md-offset-3 col-md-2 tooltip-options" style="height: 150px">
                                <a th:href="@{'/user/component/29'}">
                                    <img id="animateview4-23" data-toggle="tooltip" data-placement="top" title="<h4>后排车载冰箱</h4>" class="img-responsive rounded-circle fadeInDown" style="width: 80%;height: 80%;margin-top: 15%;display:none" th:src="@{'/img/Components/后排车载冰箱.jpg'}" alt="Cinque Terre">
                                </a>

                            </div>
                            <div class=" col-md-offset-2 col-md-2 tooltip-options" style="height: 150px">
                                <a th:href="@{'/user/component/27'}">
                                    <img id="animateview4-22" data-toggle="tooltip" data-placement="top" title="<h4>牛皮座椅</h4>" class="img-responsive rounded-circle fadeInDown" style="width: 80%;height: 80%;margin-top: 15%;display:none" th:src="@{'/img/Components/牛皮座椅.jpg'}" alt="Cinque Terre">
                                </a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    <!-- /. PAGE INNER  -->
    </div>
<!-- /. PAGE WRAPPER  -->
</div>

<div id="footer-sec">
    &copy; 2018 GsVehicleSelling
</div>
<!-- /. FOOTER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="/js/bootstrap.js"></script>
<!-- METISMENU SCRIPTS -->
<script src="/js/jquery.metisMenu.js"></script>
<!-- CUSTOM SCRIPTS -->
<script src="/js/custom.js"></script>

<script type="text/javascript" src="http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<!--tooltip-->
<script>
    $(function () { $('.tooltip-show').tooltip('show');});
    $(function () { $('.tooltip-hide').tooltip('hide');});
    $(function () { $('.tooltip-destroy').tooltip('destroy');});
    $(function () { $('.tooltip-toggle').tooltip('toggle');});
    $(function () { $(".tooltip-options img").tooltip({html : true });});
</script>
<!--animate-->
<script>
    function getAll() {
        var objs = document.all;
        var length1;
        for (var i = 0; i < objs.length; i++) {
            var obj = objs[i].tagName;
            if (obj == "body" || obj == "BODY") {
                length1 = i+1;
                break;
            }
        }
        var b_objs = new Array();
        for (var j = length1; j < objs.length; j++) {
            b_objs.push(objs[j]);
        }
        return b_objs;
    }

    function showpicture(e){

        var id = e.id;
        id = 'animate'+id;
        var b_objs = new Array();
        b_objs = getAll();
        for (var i = 0; i < b_objs.length; i++) {
            if (b_objs[i].id.search(id) != -1) {
                // console.log(b_objs[i].id);
                $(b_objs[i]).show().addClass(' animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
                    $(this).removeClass('animated');
                });
            }
        }
        // testAnim(anim);
    };

</script>
</body>
</html>